# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# Theme
remote_theme		: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin	: "dirt" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale			: "en_GB"
title			: "Simon Wolf's Blog"
title_separator		: "-"
subtitle		: # site tagline that appears below site title in masthead
name			: "Simon Wolf"
description		: "Sometimes random, occasionally focused, rarely proof-read."
url			: "https://blog.sgawolf.com"
baseurl			: ""
repository		: "simon-wolf/swwritings"
words_per_minute	: 200
atom_feed:
  path			: "/feed.xml"
search			: false
search_full_content	: false

# Extra Includes
include: ["_pages"]

# Social Sharing
twitter:
  username		: sgaw
og_image		: "/images/sw_avatar.jpg"
social:
  type			: Person
  links:
    - https://twitter.com/sgaw
    - https://social.sgawolf.com/@simon
    - https://github.com/simon-wolf

# Site Author
author:
  name			: "Simon Wolf"
  avatar		: "/images/sw_avatar.jpg"
  location		: "Somerset, England"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:simon@swwritings.com"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/sgaw"
    - label: "Mastodon"
      icon: "fab fa-mastodon"
      url: "https://social.sgawolf.com/@simon"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/simon-wolf"

# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/sgaw"
    - label: "Mastodon"
      icon: "fab fa-mastodon"
      url: "https://social.sgawolf.com/@simon"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/simon-wolf"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Liquid
strict_front_matter: true
liquid:
  error_mode: strict

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
permalink: /post/:year-:month-:day-:title
paginate: 7 # amount of posts to show
paginate_path: /page:num/
timezone: Europe/London

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-archives

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-archives

jekyll-archives:
  enabled: categories
  layout: archive
  permalinks:
    year: '/:year/'
    month: '/:year/:month/'
    day: '/:year/:month/:day/'
    tag: '/tag/:name/'
    category: '/category/:name/'

# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /

# category_archive:
#   type: liquid
#   path: /categories/

# tag_archive:
#   type: liquid
#   path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      show_date: true
      comments: false
      share: true
      related: true
      excerpt_separator: "<!--more-->"
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
