---
layout: archive
---

{{ content }}

{% assign sorted_categories = site.categories | sort %}

<ul class="taxonomy__index">
  {% for category in sorted_categories %}
    <li>
      <a href="#{{ category[0] | slugify }}">
        <strong>{{ category[0] | capitalize }}</strong> <span class="taxonomy__count">{{ category[1] | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in sorted_categories %}
  <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category[0] }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in category.last %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
